.body {
  min-width: 220px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .button-container {
    display: flex;
    justify-content: space-between;

    button{
      font-size: 0.9rem;
    }
  }
}
